node_modules
.env

git remote add origin https://github.com/Jesse-abu/Memories.git
git branch -M main
git push -u origin main

echo "# Project-1" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Jesse-abu/Memories.git
git push -u origin main

client/
package.json
server/

git rm --cached client